form{
    margin: auto;
    text-align: center;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    background: white;
    width: 400px;
    padding: 10px;
    max-width: 90%;
}
body{
	background: #576382;
	font-family:"Roboto", sans-serif;
}
h1{
	text-align: center;
	color: white;
}
button{
	font-size: 18px;
	border: 1px solid #ccc;
	border-radius: 6px;
	line-height: 30px;
	font-family: "Roboto", sans-serif;
	outline: none;
	background: #f0f0f0;
	cursor: pointer;
	transition: 1s;
}
input{
	font-size: 18px;
	border: 1px solid #ccc;
	border-radius: 6px;
	line-height: 30px;
	font-family:"Roboto", sans-serif;
	color: #777;
}
